body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #F77F00; /* laranja */
    background-color: #D62828; /* vermelho */
  color: white;
}



header #bar ul {
    display: flex;
    list-style: none;
    margin-right: 10px;
    
}
header #bar ul li{
    padding: 15px;
    
    
}
header #bar ul li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header #bar ul li a:hover{
    color: #F77F00; /* amarelo */
}
header span{
    margin-top: 27px;
    margin-left: 10px;
}
#menu{
    width: 300px;
    height: 535px;
   
     background-color: #1A1A1A; /* preto/cinza escuro */
    padding: 10px;
    overflow-y: auto;
}
#menu ul {
    list-style: none;
}
#menu ul li{
    padding: 20px;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 23px;
}
#menu ul li a:hover{
    background-color:#F77F00;
    padding: 5px;
    border-radius: 15px;
    
}
#menu h1{
    margin-left: 37px;
    color: #F77F00;
}